/* HQ Form */
#hq-form-wrapper {
    background-color: rgba(12, 113, 195, 0.5) !important;
    font-family: Lato, sans-serif !important;
}
/* labels */
.hq-places-label {
    color: white !important;
    font-size: 14px !important;
}

/* Inputs */
#hq-place-form-desktop select,
#hq-place-form-desktop input,
#hq-times-pick-up-date,
#hq-times-return-date {
    padding-left: 10px;
    font-size: 14px !important;
}
.hq-places-date-time-wrapper,
.hq-places-times-input-wrapper {
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    height: 50px !important;
}
/* icons */
.hq-select-icon-wrapper {
    display: none !important;
}

/* submit button */
.hq-places-input-wrapper.hq-button-wrapper {
    padding-top: 5px;
}
.hq-places-submit-button {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
		height: 50px !important;
    background-color: #0c71c3 !important;
    color: white !important;
    border-radius: 0 !important;
    font-family: Lato !important;
    font-weight: 700 !important;
    letter-spacing: 0 !important;
		line-height: initial !important;
    font-size: 16px !important;
}

.hq-places-submit-button:hover,
.hq-places-submit-button:active,
.hq-places-submit-button:focus {
    background-color: #0c71c384 !important;
    transition: 0.25s;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-size: 12px !important;
    padding-left: 5px !important;
    padding-right: 20px !important;
}

/* HQ Form */